rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all files
    match /{allPaths=**} {
      allow read: if true;
    }
    
    // Allow write access to frames folder for authenticated users
    match /frames/{fileName} {
      allow write: if request.auth != null;
    }
  }
}
